h1{
    color:aqua;
text-align: center;
}

body{
    background-image: url(6013010.jpg);
    height: 100vh;
    background-size: cover;
}
h1{
    color: blue;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    font-size:3em;
    text-decoration:none;
     padding: 20px;
}
a:visited{
    color:darkmagenta;
}
a:link{
    color:chocolate;
}
a:hover{
    background-color:gold;
    border-radius: 50%;
    text-shadow:5px 5px 5px olivedrab;

}
.clock{
    width: 20vw;
    height: 20vw;
    border:10px groove gold;
    position: relative;
    margin:auto;
    border-radius:50% ;
    margin-top:100px;
    background-color: rgba(255, 217, 0, 0.445);

}
.strelka1{
    width:45%;
    height:10px;
    background-color: brown;
    position: absolute;
    top: 50%;
    left: 50%;
}